# Environment variables
.env

# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Frontend build files
dist/
build/

# Cache & coverage
.cache/
coverage/

# Temporary files
*.tmp
*.swp

# Environment variables
.env
.env.local
.env.development
.env.production